li{list-style:none;}
@media (max-width: 768px) {
  .HolyGrail-body {
    flex-direction: column;
    flex: 1;
  }
  .HolyGrail-nav,
  .HolyGrail-ads,
  .HolyGrail-content {
    flex: auto;
  }
}
@media screen and (max-width: 300px){
    .container ul li div>img{
        max-width:90%;
        height:110px;
    }
    .title span img{
        width:18px;
        height:18px;
        display:block;
    }
    .setting{
        width:26px;
        height:26px;    
    }
}
@media screen and (min-width: 310px) and (max-width: 320px){
    .container ul li div>img{
        max-width:92%;
        height:90px;
    }
    .title span img{
        width:24px;
        height:24px;
        display:block;
    }
    .setting{
        width:34px;
        height:34px;    
    }
}
@media screen and (min-width: 320px) and (max-width: 374px){
    .container ul li div>img{
        max-width:92%;
        height:90px;
    }
    .title span img{
        width:24px;
        height:24px;
        display:block;
    }
    .setting{
        width:34px;
        height:34px;    
    }
}
@media screen and (min-width: 375px) and (max-width: 410px){
    .container ul li div>img{
        max-width:92%;
        height:90px;
    }
    .title span img{
        width:24px;
        height:24px;
        display:block;
    }
    .setting{
        width:34px;
        height:34px;    
    }
}

@media screen and (min-width: 411px) and (max-width: 500px){
    .container ul li div>img{
        max-width:92%;
        height:90px;
    }
    .title span img{
        width:24px;
        height:24px;
        display:block;
    }
    .setting{
        width:34px;
        height:34px;    
    }
}
@media screen and (min-width: 500px) and (max-width: 599px){
    .container ul li div>img{
        max-width:92%;
        height:110px;
    }
}
@media screen and (min-width: 600px) and (max-width: 639px){
    .container ul li div>img{
        max-width:92%;
        height:120px;
    }
}
@media screen and (min-width: 640px) and (max-width: 768px){
    .container ul li div>img{
        max-width:92%;
        height:160px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1000px){
    .container ul li div>img{
        max-width:92%;
        height:110px;
    }
    .title span img{
        width:30px;
        height:30px;
        display:block;
    }
    .setting{
        width:46px;
        height:46px;    
    }
}
@media screen and (min-width: 1000px) and (max-width: 1024px){
    .container ul li div>img{
        max-width:92%;
        height:130px;
    }
    .title span img{
        width:36px;
        height:36px;
        display:block;
    }
    .setting{
        width:52px;
        height:52px;    
    }
}
@media screen and (min-width: 1025px) and (max-width: 1430px){
    .container ul li div>img{
        max-width:92%;
        height:140px;
    }
    .title span img{
        width:36px;
        height:36px;
        display:block;
    }
    .setting{
        width:54px;
        height:54px;    
    }
}
@media screen and (min-width: 1430px){
    .container ul li div>img{
        max-width:92%;
        height:150px;
    }
    .title span img{
        width:36px;
        height:36px;
        display:block;
    }
    .setting{
        width:54px;
        height:54px;    
    }
}
body,html{
    margin:0px;
    padding:0px;
    font-family:Arial,'Times New Roman','Microsoft YaHei',SimHei;
}

.HolyGrail {
    position:absolute;
    display: flex;
    width:100%;
    height: 100%;
    flex-direction: column;
    background: rgba(210,191,171,1);
}

header{
    flex:1;
    height:76px;
    width:100%;
    background:rgba(98,76,63,1);
}
nav{
/*          flex: 0 0 10%;*/
    width:100%;
    background:rgba(216,202,155,1);         
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100%;
    color:#fff;
    font-size:1.05rem;
    z-index:1;
    position:relative;
}

.title span img{
    display:block;
}
.setting{
    background:#624c3f url(../images/set_up.png)50% 50% no-repeat;
    background-size:60% auto;
    position:absolute;
    z-index:9;
    right:2%;
}
.item{
    padding:0em 0.5em;
}

.HolyGrail-body {
    flex:1;
    display:-webkit-flex;
    -webkit-flex-direction: column;
    display:flex;
    flex-direction:column;
    background:url(../images/animalBg.png) 50% 50% no-repeat;
    background-size:100% 100%;
}


.HolyGrail-body div.slideUpDown{
    flex:1;
}

.swiper-container{
    width:100%;
    height:100%;
    background:rgba(216,202,155,1);
}

.swiper-slide {
    text-align: center;
    background:rgba(216,202,155,1);
    color:rgba(53,45,41,1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    cursor:pointer;
}

.swiper-slide.active a{
    display:block;
    padding:0.2rem 0.6rem;
    background:rgba(98,76,63,1);
    border-radius:2em;
    color:#fff;
}

.container{
    width: 94%;
    height:96%;
    margin: 2% auto;      
}
.waterfall {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-width: 48%;
    -webkit-column-width: 48%;
    column-width: 48%;
    -moz-column-gap: 1%;
    -webkit-column-gap: 1%;
    column-gap: 1%;
}    

.container ul{
    width:100%;
    height:100%;
    margin:0.5em auto;
    padding:0px;
}

.container ul li{
    list-style:none;
    padding:0px;
    float:left;
    background:#fff;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 1430px) {
    nav{
        height:62px;       
    }
    .swiper-slide {
        font-size: 1.02rem;
    }
    .item{
       font-size: 1.0.5rem;
    }
    .container ul li{
        margin:0.3em 0.8%;
        width:23.4%;
    }    
    .NoDataBg{
        width:300px;
        height:180px;
        position:absolute;  
        top:50%;            
        left:50%; 
        margin:-90px 0 0 -150px;                          
        z-index:99; 
        background:url(../images/COMING.png) 50% 50% no-repeat;
        background-size: 100% 100%;    
    }
    .NoData span{
        width: 100%;
        height:45px;
        line-height:45px;
        color:#624c3f;
        text-align: center;
        display:block;
    }
}
@media screen and (min-width: 1431px) {
    nav{
        height:68px;        
    }
    .swiper-slide {
        font-size: 1.1rem;
    }
    .item{
       font-size: 1.2rem;
    }
    .container ul li{
        margin:0.3em 0.5%;
        width:15.6%;
    }     
    .NoDataBg{
        width:450px;
        height:270px;
        position:absolute;  
        top:50%;            
        left:50%; 
        margin:-135px 0 0 -225px;                          
        z-index:99; 
        background:url(../images/COMING.png) 50% 50% no-repeat;
        background-size: 100% 100%;    
    }
    .NoData span{
        width: 100%;
        height:75px;
        line-height:75px;
        font-size:1rem;
        color:#624c3f;
        text-align: center;
        display:block;
    }  
}
@media screen and (max-width: 768px) {
    nav{
        height:52px;       
    }
    .swiper-slide {
        font-size: 0.9rem;
    }
    .item{
       font-size: 1rem;
    }
    .container ul li{
        margin:0.3em 1%;
        width:48%;
    }
    .NoDataBg{
        width:300px;
        height:180px;
        position:absolute;  
        top:50%;            
        left:50%; 
        margin:-90px 0 0 -150px;                          
        z-index:99; 
        background:url(../images/COMING.png) 50% 50% no-repeat;
        background-size: 100% 100%;    
    }
    .NoData span{
        width: 100%;
        height:45px;
        line-height:45px;
        color:#624c3f;
        text-align: center;
        display:block;
    }
}
@media screen and (max-width: 300px) {
    nav{
        height:42px;       
    }
    .swiper-slide {
        font-size: 0.5rem;
    }
    .item{
       font-size: 0.6rem;
    }
    .container ul li{
        margin:0.3em 1%;
        width:98%;
    }
    .NoDataBg{
        width:100px;
        height:60px;
        position:absolute;  
        top:50%;            
        left:50%; 
        margin:-30px 0 0 -50px;                          
        z-index:99; 
        background:url(../images/COMING.png) 50% 50% no-repeat;
        background-size: 100% 100%;    
    }
    .NoData span{
        width: 100%;
        height:15px;
        line-height:15px;
        font-size:0.35rem;
        color:#624c3f;
        text-align: center;
        display:block;
    }
}
@media screen and (min-width: 301px) and (max-width: 650px) {
    .NoDataBg{
        width:244px;
        height:146px;
        position:absolute;  
        top:50%;            
        left:50%; 
        margin:-73px 0 0 -122px;                          
        z-index:99; 
        background:url(../images/COMING.png) 50% 50% no-repeat;
        background-size: 100% 100%;    
    }
    .NoData span{
        width: 100%;
        height:37px;
        line-height:37px;
        color:#624c3f;
        text-align: center;
        display:block;
    }
}
.container ul li div{
    display: block;
    color:rgba(53,45,41,1);
    text-decoration:none;
}

.container ul li div>img{
    display:block;
    margin:0.6em auto 0.3em auto;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    -ms-interpolation-mode: bicubic;
}
.container ul li div>p{
    width: 90%;
    color:#624c3f;
    background:#fff;
    text-align: center;
    font-size:0.8rem;
    height:30px;
    word-break:break-all;
    margin:0px auto 0.6em auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: box;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
}


[v-cloak] {
    display: none !important;
}
#Loading {
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    z-index: 100;
}

@-webkit-keyframes ball-beat {
    50% {
        opacity: 0.2;
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes ball-beat {
    50% {
        opacity: 0.2;
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.ball-beat>div {
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 100% !important;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: inline-block;
    -webkit-animation: ball-beat 0.7s 0s infinite linear;
    animation: ball-beat 0.7s 0s infinite linear;
}

.ball-beat>div:nth-child(2n-1) {
    -webkit-animation-delay: 0.35s !important;
    animation-delay: 0.35s !important;
} 
