@media (max-width: 768px) {
    .database {
       flex-direction: column;
       flex: 1;
    }
    .HolyGrail-nav,
    .HolyGrail-ads,
    .HolyGrail-content {
     flex: auto;
  }
} 
li{
    list-style:none;
    margin:0px;
    padding:0px;
}
body,html{
    margin:0px;
    padding:0px;
    font-family:Arial,'Times New Roman','Microsoft YaHei',SimHei;
} 
.database {
    display: flex;    
    flex:1;
    display:-webkit-flex;
    width:100%;
    height: 100%;
    flex-direction: column;
}

#database{
	position:absolute;
	width:100%;
	height:100%;
    background:#cdb499;
}

header{ 
	height:auto;
    width:100%;
    margin:0px;
    padding:0px;
    z-index:1;
}   

.tipImg{
	width:100%;
    margin:0px;
    padding:0px;
}

.back{
	z-index:3;
	position:absolute;
	width:50px;
	height:50px;
	left:3%;
	top:2%;
	background: url(../images/backBtn.png) 50% 50% no-repeat;
	background-size:25% auto;
}

.contentBox{
    width:100%;
    height:100%;
    background:url(../images/bj_2.png) 50% 50% no-repeat;
    background-size:100% 100%;
    position:absolute;
    z-index:1;
    margin-top:-4px;
}
.record{
	width:100%;
	height:60px;
	background:rgba(0,0,0,0);
	position:absolute;
	margin-top:-32px;
	z-index:3;
}
.record>div{
	width:50%;
	height:100%;
	float:left;
}
.record>div.listen{
	 background:url(../images/sound.png) 30% 50% no-repeat;
	 background-size: auto 50px;
}
.record>div.talk{
	 background:url(../images/recording.png) 70% 50% no-repeat;
	 background-size: auto 50px;
}
.content{
	width:92%;
	height:40px;
	background:rgba(246,133,13,0);
	margin:38px auto 8px auto;
}
.content>p.animalName{
	width:100%;
	height:30px;
	line-height:30px;
	color:rgba(98,76,63,1);
	text-align: center;
	font-size:0.9rem;
	font-weight:550;
}
.Question{
	width:100%;
	height:auto;
}
.Question>div.doYouKnow{
	width:24%;
	float:left;
	height:66px;
    float:left;
}
.Question>div.doYouKnow a{
	display:block;
	text-align: center;
    width:66px;
    height:66px;  
    background: url(../images/doYouKnow.png) 50% 50% no-repeat;
    background-size:auto 66px;
    /*margin:0px auto;*/
	font-size:0.8rem;
	color:#624c3f;
	font-weight:650;
}
.Question>div.doYouKnow a>i{
    width:100%;
    height:50px;
    display:block;
    font-style:normal;
    padding-top:8px;
}
.Question>div.problemTopic{
   width:76%;
   height:62px;
   background:#fff;
   border:2px solid #f1c770;
   border-radius:8px;
   -moz-border-radius:8px;
   -webkit-border-radius:8px;
   margin-left:25%;
}
.Question>div.problemTopic span{
    width:96%;
    height:58px;
    margin:2px auto;
    line-height:19px;
    font-size:0.85rem;
    color:#624c3f;
    display:block;
    word-break:break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: box;
    display: -webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient: vertical;
}
.detailsList{
    width:100%;
    height:auto;
    margin:18px auto;
}
.detailsList ul.upon{
    width:100%;
    height:100%;
    background:rgba(98,76,63,1);
    margin:0px auto;
    padding:0px;
    list-style-type:none;
}
.detailsList ul.upon>li{
    width:100%;
    height:auto;
    background:rgba(98,76,63,1);

    float:left;
    margin:0px auto;
}
.detailsList ul.upon>li>a.list_icon{
    width:8%;
    height:28px;
    display:block;
    float:left;
}
.detailsList ul.upon>li:first-child{
    padding-top:1rem;   
    border-top-left-radius:8px;
    -moz-border-top-left-radius:8px;
    -webkit-border-top-left-radius:8px;   
    border-top-right-radius:8px;
    -moz-border-top-right-radius:8px;
    -webkit-border-top-right-radius:8px;
}
.detailsList ul.upon>li:last-child{
    padding-bottom:1rem;
    border-bottom-left-radius:8px;
    -moz-border-bottom-left-radius:8px;
    -webkit-border-bottom-left-radius:8px;   
    border-bottom-right-radius:8px;
    -moz-border-bottom-right-radius:8px;
    -webkit-border-bottom-right-radius:8px;
}
.detailsList ul.upon>li span{
    display:block;
    float:right;
    width:92%;
    line-height:28px;
    font-size:0.8em;
    color:#fff;
}
.Scientific_Name{
    background:url(../images/Scientific_Name.png) 50% 50% no-repeat;
    background-size:14px 14px;
}
.family{
    background:url(../images/family.png) 50% 50% no-repeat;
    background-size:14px 14px;
}
.diet{
    background:url(../images/diet.png) 50% 50% no-repeat;
    background-size:14px 14px;
}
.habitat{
    background:url(../images/habitat.png) 50% 50% no-repeat;
    background-size:14px 14px;
}
.location{
    background:url(../images/location.png) 50% 50% no-repeat;
    background-size:14px 14px;
}
.group-name{
    background:url(../images/group-name.png) 50% 50% no-repeat;
    background-size:16px 16px;    
}
.intermediate{
    width:90%;
    height:52px;
    line-height:52px;
    background:rgba(216,202,155,1);
}
