body,html{
    margin:0px;
    padding:0px;
    font-family:Arial,'Times New Roman','Microsoft YaHei',SimHei;
}

body{	
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	background: url(../images/set_bj.png) 50% 50% no-repeat;
	background-size:auto 100%;
}
.chooseLanguage{
	 width:100%;
	 height:100%;
	 position:absolute;
	 background:#c7ac8f url(../images/bj_map.png) 50% 50% no-repeat;
	 background-size:auto 100%;
}
.icon{
	width:100%;
	height:160px;
	display: flex;
	justify-content: center;
	align-items: center;
	position:relative;
	z-index:1;
}
.icon img{
    display:block;
    height:80px;
}
.icon a.back{
	position:absolute;
	z-index:3;
	position:absolute;
	width:50px;
	height:50px;
	left:3%;
	top:2%;
	background: url(../images/backBtn.png) 50% 50% no-repeat;
	background-size:25% auto;
}
.choose{
	width:100%;
	line-height:40px;
	text-align:center;
	color:#624c3f;
	font-size:1rem;
	font-weight:600;
}
.swiper-container {
  width: 90%;
  height: 160px;
  margin:10px auto;
}
.swiper-slide {
  text-align: center;
  font-size: 1rem;
  background: rgba(255,255,255,0);
  color:#624c3f;
  font-weight:550;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-button-prev{
	background:url(../images/up.png) 50% 50% no-repeat;
	background-size:40px 40px;
	left: 10px;
	right: auto
}
.swiper-button-next{
	background:url(../images/down.png) 50% 50% no-repeat;
	background-size:40px 40px;
	left: 10px;
	left: auto
}